.todoContainer {
    padding:10px;
    max-width: 500px;
}

.todoItem {
    margin-bottom: 5px;
    background: #c6f7f7;
    border-radius:10px;
    padding:10px;
    cursor: pointer;
    display:flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 10px 5px rgba(33,191,181,0.75);
    justify-content: space-between;
}

.todoItem > h4 {
    font-size: 15px;
}

.completed {
    border-left: 10px solid #060073;
    margin-bottom: 5px;
    background: #c6f7f7;
    border-radius:10px;
    padding:10px;
    cursor: pointer;
    display:flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 10px 5px rgba(33,191,181,0.75);
    justify-content: space-between;
}

.todoActions {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    margin:2px !important;
}